.innerheader{
    max-width: 1720px;
    height: 110px;
    line-height: 110px;
    margin: auto;
}

.innerheader .logo{
    float: left;
}

.innerheader .logo a{
    display: block;
    width: 100%;
    height: 100%;
}


span.bar {
    position: absolute; 
    left: 0; 
    bottom: 40px; 
    width:0; 
    height: 3px; 
    background: #e7e7e7; 
    transition: all 0.4s; 
}

/* gnb + sns */
.innerheader .mainMenu{
    float: right;
    overflow: hidden;
    position: relative;
}

.innerheader .mainMenu .gnb{
    float: left;
}


.innerheader .mainMenu .gnb li{
    list-style: none;
    float: left;
    margin: 0 20px;
}

.innerheader .mainMenu .gnb li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #555;
}

/* sns */
.innerheader .mainMenu .sns{
    float: left;
    margin-left: 300px;
}

.innerheader .mainMenu .sns li{
    float: left;
}

.innerheader .mainMenu .sns li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #555;
    padding: 0 10px;
}