.innerheader{
    max-width: 1720px;
    height: 110px;
    line-height: 110px;
    margin: auto;
}

.innerheader .logo{
    float: left;
}

.innerheader .logo a{
    display: block;
    width: 100%;
    height: 100%;
}


span.bar {
    position: absolute; 
    left: 0; 
    bottom: 40px; 
    width:0; 
    height: 3px; 
    background: #e7e7e7; 
    transition: all 0.4s; 
}

/* gnb + sns */
.innerheader .mainMenu{
    float: right;
    overflow: hidden;
    position: relative;
}

.innerheader .mainMenu .gnb{
    float: left;
}


.innerheader .mainMenu .gnb li{
    list-style: none;
    float: left;
    margin: 0 20px;
}

.innerheader .mainMenu .gnb li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #555;
}

/* sns */
.innerheader .mainMenu .sns{
    float: left;
    margin-left: 300px;
}

.innerheader .mainMenu .sns li{
    float: left;
}

.innerheader .mainMenu .sns li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #555;
    padding: 0 10px;
}

/* 반응형 웹 제작 */

/* PC 모드 */
@media screen and (max-width:1720px){
    .innerheader{
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .innerheader .mainMenu .sns {
        margin-left: 200px;
    }
}

/* 1024 이하 테블릿 */
@media screen and (max-width: 1000px) {
    .innerheader{
        height: 80px;
        line-height: 80px;
    }

    .innerheader .mainMenu{
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
}

/* 모바일해상도 320px */
@media screen and (max-width: 768px) {
    .innerheader{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
}