@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'handel gothic';
    src: url(../font/handel gothic.ttf) format('truetype');
}
   

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 
{   
    font-weight: 700; 
    font-size: inherit;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

img {vertical-align: middle;}

a img {
        border: none;
      }

li    {
        list-style: none;
      }

address, em, i {font-style: normal;}


/* Layout */
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.en{
    font-family: 'handel gothic',sans-serif;
}

.en_s   {
    font-family: 'Dancing Script', cursive;
}

/*
 공통 .tit 애니메이션
*/
.tit.motion span{
    transform: translate3d(0,0,0)skewY(0deg);
}

.tit.motion span b{
    display: block;
    animation-name: textAni;
    animation-duration: 1.3s;
}

@keyframes textAni{
    0%{
        opacity: 0;
    }

    30%{
        opacity: 0;
        transform: translate3d(0,10px,0)skewY(8deg);
        transform-origin: top left;
    }

}

/*
 visiual txt 애니메이션
*/
.txt.motion p{
    transform: translate3d(0,0,0)skewY(0deg);
}
.txt.motion p b { 
    display: block;
    animation-name: textAni;
    animation-duration: 1.3s;
}

.img.motion {
    position: relative;
    animation-name: imgAni;
    animation-duration: 1s;
}

@keyframes imgAni {
    0%{
        transform: translateY(50px);
    }
}

.img.motion:after{
    content: '';
    width: 100%;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: mask;
    animation-duration: 1.2s;
}

@keyframes mask{
    0%{
        height: 90%;
    }
}


section.team .img.motion:after{
    display: none;
}

/* section.service 배경색 애니 */
body{
    transition: all 0.4s;
}

body.on{
    background: #e8fcff; 
    transition: all 0.4s;
}

section.service .img.motion:after{
    background: #e8fcff; 
}